/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 


.product-icons {
    @extend .clearfix;
    margin: $sc-margin-lv1 0;
    font-size: $sc-font-size-xs;
    line-height: 20px;
    color: $sc-color-copy;
}

.product-icons li {
    float: left;
    margin-right: $sc-margin-lv2;
}

.product-icons img {
    height: 20px;
    vertical-align: bottom;
}
