
<h3>Share your unique #wisteriastyle</h3>
<div class="row" style="text-align: center">
    <div data-crl8-container-id="product" data-crl8-filter="productId:{{itemId}}" id="crl8-product-container"></div>
    <button type="button" class="curalate-upload-photos curalate-button">Submit a Photo
    </button>

    <a class="curalate-button" href="/wisteriastyle" data-touchpoint="home" data-hashtag="/wisteriastyle">View Gallery
    </a>
</div>
